/* FontFace */
@font-face {
  font-family: "YesevaOne";
  font-weight: 400;
  src: url("../fonts/YesevaOne-Regular.ttf") format("truetype"), url("../fonts/YesevaOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ChBodoni";
  font-weight: 400;
  src: url("../fonts/ChBodoni/ChBodoni.ttf") format("truetype"), url("../fonts/ChBodoni/ChBodoni.ttf") format("truetype");
}
@font-face {
  font-family: "ChBodoni";
  font-weight: 600;
  src: url("../fonts/ChBodoni/ChBodoniBold.ttf") format("truetype"), url("../fonts/ChBodoni/ChBodoniBold.ttf") format("truetype");
}
@font-face {
  font-family: "ZonaPro";
  font-weight: 300;
  src: url("../fonts/ZonaPro/ZonaPro-Light.otf") format("opentype"), url("../fonts/ZonaPro/ZonaPro-Light.otf") format("opentype");
}
@font-face {
  font-family: "ZonaPro";
  font-weight: 400;
  src: url("../fonts/ZonaPro/ZonaPro-Regular.otf") format("opentype"), url("../fonts/ZonaPro/ZonaPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "ZonaPro";
  font-weight: 500;
  src: url("../fonts/ZonaPro/ZonaPro-SemiBold.otf") format("opentype"), url("../fonts/ZonaPro/ZonaPro-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "ZonaPro";
  font-weight: 600;
  src: url("../fonts/ZonaPro/ZonaPro-Bold.otf") format("opentype"), url("../fonts/ZonaPro/ZonaPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "ZonaPro";
  font-weight: 700;
  src: url("../fonts/ZonaPro/ZonaPro-ExtraBold.otf") format("opentype"), url("../fonts/ZonaPro/ZonaPro-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Relaway";
  font-weight: 300;
  src: url("../fonts/Relaway/Raleway-Light.ttf") format("truetype"), url("../fonts/Relaway/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Relaway";
  font-weight: 400;
  src: url("../fonts/Relaway/Raleway-Regular.ttf") format("truetype"), url("../fonts/Relaway/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Relaway";
  font-weight: 500;
  src: url("../fonts/Relaway/Raleway-Medium.ttf") format("truetype"), url("../fonts/Relaway/Raleway-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Relaway";
  font-weight: 600;
  src: url("../fonts/Relaway/Raleway-SemiBold.ttf") format("truetype"), url("../fonts/Relaway/Raleway-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Relaway";
  font-weight: 700;
  src: url("../fonts/Relaway/Raleway-Bold.ttf") format("truetype"), url("../fonts/Relaway/Raleway-Bold.ttf") format("truetype");
}
/* Size */
/* Size End */
/* Color */
:root {
  --backgroundColor: #f8f2ee;
  --primaryColor: #003bff;
  --primaryHoverColor: #001faa;
  --baseColor: #2a2a2a;
  --baseColorHover: #24252a;
  --darkBlueColor: #294895;
  --secondColor: #119f84;
  --secondHoverColor: #0f8a73;
  --c1: #119f84;
  --c2: #1a6b51;
  --c3: #b05a36;
  --brandSTColor: rgb(63,198,215);
  --inputBg: #f1f3f4;
  --borderColor: #d7dae5;
  --borderGrayColor: #e9e9e9;
  --textColor: #555;
  --grayText: #858585;
  --lgrayText: #353535;
  --lgrayColor: #f4f5f6;
  --checkradioBg: #f3f5f6;
  --switchBg: #f0f2f3;
  --itemBorder: #f5f3f0;
  --saleColor: #b2b2b2;
  --boxBg: #f5f7ff;
  --grayColor: #e1e6eb;
  --grayColorHover: #d0d7dd;
  --lightGrayColor: #eceff3;
  --spacing-top: clamp(3*1rem,((3 - ((6.2 - 3)/(var(--max-viewport) - var(--min-viewport))*var(--min-viewport)))*1rem + ((6.2 - 3)/(var(--max-viewport) - var(--min-viewport)))*100vw),6.2*1rem);
  --spacing-bottom: clamp(3*1rem,((3 - ((6.2 - 3)/(var(--max-viewport) - var(--min-viewport))*var(--min-viewport)))*1rem + ((6.2 - 3)/(var(--max-viewport) - var(--min-viewport)))*100vw),6.2*1rem);
  --min-viewport: 23.5;
  --max-viewpor: 90;
}

/* Color End */
html {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  font-size: 14px;
  font-family: "Relaway";
  color: var(--baseColor);
  line-height: 1.4;
  font-weight: 400;
  font-style: normal;
  position: relative;
  background-color: #fff;
  background-size: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--baseColor);
  font-size: 14px;
  text-decoration: none;
}
a:hover {
  color: var(--baseColor);
  text-decoration: none;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

p {
  font-weight: 400;
  line-height: 1.4;
}
p ~ p {
  margin-top: 20px;
}

button {
  font-family: "Relaway";
}

/* Other Style */
.clear-fix {
  display: block;
  clear: both;
}

.clear-fix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

*, *:after, *:before {
  box-sizing: border-box;
  box-sizing: border-box;
}

*, *:focus, *:active {
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
}

.dg {
  display: grid;
  width: 100%;
}

.dt {
  display: table;
}

.dgc {
  align-items: center;
}

.aic {
  align-items: center;
}

.g2 {
  grid-template-columns: 1fr 1fr;
}

.g3 {
  grid-template-columns: repeat(3, 1fr);
}

.g4 {
  grid-template-columns: repeat(4, 1fr);
}

.g5 {
  grid-template-columns: repeat(5, 1fr);
}

.g6 {
  grid-template-columns: repeat(6, 1fr);
}

.g50_50 {
  grid-template-columns: 50% 50%;
}

.gc1 {
  grid-column: 1/3;
}

.gap1 {
  gap: 10px;
}

.gap1_2 {
  gap: 12px;
}

.gap1_6 {
  gap: 16px;
}

.gap2 {
  gap: 20px;
}

.gap2_4 {
  gap: 24px;
}

.gap3 {
  gap: 30px;
}

.gap4 {
  gap: 40px;
}

.gap5 {
  gap: 50px;
}

.df {
  display: flex;
}

.gap_row2 {
  row-gap: 20px;
}

.gap_col2 {
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.dfc {
  display: flex;
  align-items: center;
}

.dfs {
  display: flex;
  align-items: flex-start;
}

.dfe {
  display: flex;
  align-items: flex-end;
}

.de {
  align-items: flex-end;
}

.dcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dcsa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dfcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fe {
  justify-content: flex-end;
}

.pr {
  position: relative !important;
}

.pa {
  position: absolute !important;
}

.pa_cc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w10 {
  width: 100%;
}

.mt1 {
  margin-top: 10px;
}

.mt1_6 {
  margin-top: 16px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mt4 {
  margin-top: 40px;
}

.mt5 {
  margin-top: 50px;
}

.ml1 {
  margin-left: 10px;
}

.ml1_6 {
  margin-left: 16px;
}

.ml2 {
  margin-left: 20px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

/* Main Style */
.container {
  margin: 0 auto;
  width: 1200px;
  transition: all 0.1s ease-in;
  box-sizing: border-box;
}

.widget {
  width: 360px;
}

.full_container {
  margin: 0 auto;
  max-width: 1280px;
  transition: all 0.1s ease-in;
  box-sizing: border-box;
}

/* Main Style End *//*# sourceMappingURL=main.css.map */