@import "fonts.scss";
@import "size.scss";
@import "color.scss";

$primaryFont: 'Relaway';

html{
	margin: 0;
    padding: 0;
    background-color: $wh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    min-height: 100%;
    font-size: $s1_4;
    font-family: $primaryFont;
    color: var(--baseColor);
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
    position: relative;
    background-color: $wh;
    background-size: cover;
}
ul{
	list-style: none;
	margin: 0;
    padding: 0;
}
a{
    color: var(--baseColor);
    font-size: $s1_4;
	text-decoration: none;
    &:hover{
        color: var(--baseColor);
        text-decoration: none;
    }
}
a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
p{
    font-weight: 400;
    line-height: 1.4;
    & ~ p{
        margin-top: $s2;
    }
}
h1,h2,h3,h4,h5,h6{

}
button{
    font-family: 'Relaway';
}

/* Other Style */
.clear-fix{
    display: block;
    clear: both;
}
.clear-fix::after{
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}
*, *:focus, *:active {
    -ms-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    box-sizing: border-box;
}
$fl: flex;
$g: grid;
$c: center;
$fs: flex-start;
$fe: flex-end;
$sb: space-between;

.dg{
    display: $g;
    width: 100%;
}
.dt{
    display: table;
}
.dgc{
    align-items: $c;
}
.aic{
    align-items: $c;
}
.g2{
    grid-template-columns: 1fr 1fr;
}
.g3{
    grid-template-columns: repeat(3, 1fr);
}
.g4{
    grid-template-columns: repeat(4, 1fr);
}
.g5{
    grid-template-columns: repeat(5, 1fr);
}
.g6{
    grid-template-columns: repeat(6, 1fr);
}
.g50_50{
    grid-template-columns: 50% 50%;
}
.gc1{
    grid-column: 1/3;
}
.gap1{
    gap: $s1;
}
.gap1_2{
    gap: $s1_2;
}
.gap1_6{
    gap: $s1_6;
}
.gap2{
    gap: $s2;
}
.gap2_4{
    gap: $s2_4;
}
.gap3{
    gap: $s3;
}
.gap4{
    gap: $s4;
}
.gap5{
    gap: $s5;
}
.df{
    display: $fl;
}
.gap_row2{
    row-gap: $s2;
}
.gap_col2{
    column-gap: $s2;
}
.dfc{
    display: $fl;
    align-items: $c;
}
.dfs{
    display: $fl;
    align-items: $fs;
}
.dfe{
    display: $fl;
    align-items: $fe;
}
.de{
    align-items: $fe;
}
.dcsb{
    display: $fl;
    align-items: $c;
    justify-content: $sb;
}
.dcsa{
    display: $fl;
    align-items: $c;
    justify-content: space-around;
}
.dfcc{
    display: $fl;
    align-items: $c;
    justify-content: $c;
}
.fe{
    justify-content: $fe;
}
.pr{
    position: relative !important;
}
.pa{
    position: absolute !important;
}
.pa_cc{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.w10{
    width: 100%;
}
.mt1{
    margin-top: $s1;
}
.mt1_6{
    margin-top: $s1_6;
}
.mt2{
    margin-top: $s2;
}
.mt3{
    margin-top: $s3;
}
.mt4{
    margin-top: $s4;
}
.mt5{
    margin-top: $s5;
}
.ml1{
    margin-left: $s1;
}
.ml1_6{
    margin-left: $s1_6;
}
.ml2{
    margin-left: $s2;
}
.mb2{
    margin-bottom: $s2;
}
.mb3{
    margin-bottom: $s3;
}

/* Main Style */
.container{
    margin: 0 auto;
    width: 1200px;
    transition: all .1s ease-in;
    box-sizing: border-box;
}
.widget{
    width: 360px;
}
.full_container{
    margin: 0 auto;
    max-width: 1280px;
    transition: all .1s ease-in;
    box-sizing: border-box;
}
// ::selection {
//     color: $wh;
//     background-color: var(--primaryColor);
// }
/* Main Style End */
