/* Size */
$s_1: 1px;
$s_2: 2px;
$s_3: 3px;
$s_4: 4px;
$s_5: 5px;
$s_6: 6px;
$s_7: 7px;
$s_8: 8px;
$s_9: 9px;
$s1: 10px;
$s1_1: 11px;
$s1_2: 12px;
$s1_3: 13px;
$s1_4: 14px;
$s1_5: 15px;
$s1_6: 16px;
$s1_7: 17px;
$s1_8: 18px;
$s1_9: 19px;
$s2: 20px;
$s2_1: 21px;
$s2_2: 22px;
$s2_3: 23px;
$s2_4: 24px;
$s2_5: 25px;
$s2_6: 26px;
$s2_8: 28px;
$s2_9: 29px;
$s3: 30px;
$s3_1: 31px;
$s3_2: 32px;
$s3_4: 34px;
$s3_5: 35px;
$s3_6: 36px;
$s3_7: 37px;
$s3_8: 38px;
$s4: 40px;
$s4_2: 42px;
$s4_4: 44px;
$s4_5: 45px;
$s4_6: 46px;
$s4_8: 48px;
$s5: 50px;
$s5_2: 52px;
$s5_4: 54px;
$s5_6: 56px;
$s6: 60px;
$s6_4: 64px;
$s6_5: 65px;
$s6_8: 68px;
$h3_4: 34px;
$s32: 320px;
$s7: 70px;
$s7_4: 74px;
$s7_5: 75px;
$s8: 80px;
$s9: 90px;
$s10: 100px;
$s11: 110px;
$s12: 120px;
$s13: 130px;
$s14: 140px;
$s15: 150px;
$s20: 200px;

/* Size End */
