/* Size */
/* Size End */
/* FontFace */
@font-face {
  font-family: "YesevaOne";
  font-weight: 400;
  src: url("../fonts/YesevaOne-Regular.ttf") format("truetype"), url("../fonts/YesevaOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ChBodoni";
  font-weight: 400;
  src: url("../fonts/ChBodoni/ChBodoni.ttf") format("truetype"), url("../fonts/ChBodoni/ChBodoni.ttf") format("truetype");
}
@font-face {
  font-family: "ChBodoni";
  font-weight: 600;
  src: url("../fonts/ChBodoni/ChBodoniBold.ttf") format("truetype"), url("../fonts/ChBodoni/ChBodoniBold.ttf") format("truetype");
}
@font-face {
  font-family: "ZonaPro";
  font-weight: 300;
  src: url("../fonts/ZonaPro/ZonaPro-Light.otf") format("opentype"), url("../fonts/ZonaPro/ZonaPro-Light.otf") format("opentype");
}
@font-face {
  font-family: "ZonaPro";
  font-weight: 400;
  src: url("../fonts/ZonaPro/ZonaPro-Regular.otf") format("opentype"), url("../fonts/ZonaPro/ZonaPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "ZonaPro";
  font-weight: 500;
  src: url("../fonts/ZonaPro/ZonaPro-SemiBold.otf") format("opentype"), url("../fonts/ZonaPro/ZonaPro-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "ZonaPro";
  font-weight: 600;
  src: url("../fonts/ZonaPro/ZonaPro-Bold.otf") format("opentype"), url("../fonts/ZonaPro/ZonaPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "ZonaPro";
  font-weight: 700;
  src: url("../fonts/ZonaPro/ZonaPro-ExtraBold.otf") format("opentype"), url("../fonts/ZonaPro/ZonaPro-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Relaway";
  font-weight: 300;
  src: url("../fonts/Relaway/Raleway-Light.ttf") format("truetype"), url("../fonts/Relaway/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Relaway";
  font-weight: 400;
  src: url("../fonts/Relaway/Raleway-Regular.ttf") format("truetype"), url("../fonts/Relaway/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Relaway";
  font-weight: 500;
  src: url("../fonts/Relaway/Raleway-Medium.ttf") format("truetype"), url("../fonts/Relaway/Raleway-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Relaway";
  font-weight: 600;
  src: url("../fonts/Relaway/Raleway-SemiBold.ttf") format("truetype"), url("../fonts/Relaway/Raleway-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Relaway";
  font-weight: 700;
  src: url("../fonts/Relaway/Raleway-Bold.ttf") format("truetype"), url("../fonts/Relaway/Raleway-Bold.ttf") format("truetype");
}
/* Size */
/* Size End */
/* Color */
:root {
  --backgroundColor: #f8f2ee;
  --primaryColor: #003bff;
  --primaryHoverColor: #001faa;
  --baseColor: #2a2a2a;
  --baseColorHover: #24252a;
  --darkBlueColor: #294895;
  --secondColor: #119f84;
  --secondHoverColor: #0f8a73;
  --c1: #119f84;
  --c2: #1a6b51;
  --c3: #b05a36;
  --brandSTColor: rgb(63,198,215);
  --inputBg: #f1f3f4;
  --borderColor: #d7dae5;
  --borderGrayColor: #e9e9e9;
  --textColor: #555;
  --grayText: #858585;
  --lgrayText: #353535;
  --lgrayColor: #f4f5f6;
  --checkradioBg: #f3f5f6;
  --switchBg: #f0f2f3;
  --itemBorder: #f5f3f0;
  --saleColor: #b2b2b2;
  --boxBg: #f5f7ff;
  --grayColor: #e1e6eb;
  --grayColorHover: #d0d7dd;
  --lightGrayColor: #eceff3;
  --spacing-top: clamp(3*1rem,((3 - ((6.2 - 3)/(var(--max-viewport) - var(--min-viewport))*var(--min-viewport)))*1rem + ((6.2 - 3)/(var(--max-viewport) - var(--min-viewport)))*100vw),6.2*1rem);
  --spacing-bottom: clamp(3*1rem,((3 - ((6.2 - 3)/(var(--max-viewport) - var(--min-viewport))*var(--min-viewport)))*1rem + ((6.2 - 3)/(var(--max-viewport) - var(--min-viewport)))*100vw),6.2*1rem);
  --min-viewport: 23.5;
  --max-viewpor: 90;
}

/* Color End */
html {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  font-size: 14px;
  font-family: "Relaway";
  color: var(--baseColor);
  line-height: 1.4;
  font-weight: 400;
  font-style: normal;
  position: relative;
  background-color: #fff;
  background-size: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--baseColor);
  font-size: 14px;
  text-decoration: none;
}
a:hover {
  color: var(--baseColor);
  text-decoration: none;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

p {
  font-weight: 400;
  line-height: 1.4;
}
p ~ p {
  margin-top: 20px;
}

button {
  font-family: "Relaway";
}

/* Other Style */
.clear-fix {
  display: block;
  clear: both;
}

.clear-fix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

*, *:after, *:before {
  box-sizing: border-box;
  box-sizing: border-box;
}

*, *:focus, *:active {
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
}

.dg {
  display: grid;
  width: 100%;
}

.dt {
  display: table;
}

.dgc {
  align-items: center;
}

.aic {
  align-items: center;
}

.g2 {
  grid-template-columns: 1fr 1fr;
}

.g3 {
  grid-template-columns: repeat(3, 1fr);
}

.g4 {
  grid-template-columns: repeat(4, 1fr);
}

.g5 {
  grid-template-columns: repeat(5, 1fr);
}

.g6 {
  grid-template-columns: repeat(6, 1fr);
}

.g50_50 {
  grid-template-columns: 50% 50%;
}

.gc1 {
  grid-column: 1/3;
}

.gap1 {
  gap: 10px;
}

.gap1_2 {
  gap: 12px;
}

.gap1_6 {
  gap: 16px;
}

.gap2 {
  gap: 20px;
}

.gap2_4 {
  gap: 24px;
}

.gap3 {
  gap: 30px;
}

.gap4 {
  gap: 40px;
}

.gap5 {
  gap: 50px;
}

.df {
  display: flex;
}

.gap_row2 {
  row-gap: 20px;
}

.gap_col2 {
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.dfc {
  display: flex;
  align-items: center;
}

.dfs {
  display: flex;
  align-items: flex-start;
}

.dfe {
  display: flex;
  align-items: flex-end;
}

.de {
  align-items: flex-end;
}

.dcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dcsa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dfcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fe {
  justify-content: flex-end;
}

.pr {
  position: relative !important;
}

.pa {
  position: absolute !important;
}

.pa_cc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w10 {
  width: 100%;
}

.mt1 {
  margin-top: 10px;
}

.mt1_6 {
  margin-top: 16px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mt4 {
  margin-top: 40px;
}

.mt5 {
  margin-top: 50px;
}

.ml1 {
  margin-left: 10px;
}

.ml1_6 {
  margin-left: 16px;
}

.ml2 {
  margin-left: 20px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

/* Main Style */
.container {
  margin: 0 auto;
  width: 1200px;
  transition: all 0.1s ease-in;
  box-sizing: border-box;
}

.widget {
  width: 360px;
}

.full_container {
  margin: 0 auto;
  max-width: 1280px;
  transition: all 0.1s ease-in;
  box-sizing: border-box;
}

/* Main Style End */
.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pa_bl {
  left: 10px;
  bottom: 10px;
}

.pa_br {
  right: 10px;
  bottom: 10px;
}

.form-checkbox-label, .form-radiobox-label {
  color: var(--textColor);
  display: flex;
  min-height: 20px;
  position: relative;
  padding-left: 30px;
  flex-grow: 1;
  font-weight: 500;
  line-height: 1.4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.form-checkbox-label .label, .form-checkbox-label .label-text, .form-radiobox-label .label, .form-radiobox-label .label-text {
  font-size: 14px;
}
.form-checkbox-label:hover .label-text, .form-radiobox-label:hover .label-text {
  color: var(--baseColor);
}

.form-checkbox-label .form-checkbox,
.form-radiobox-label .form-radiobox {
  opacity: 0;
  position: absolute;
}
.form-checkbox-label .form-checkbox .label-text,
.form-radiobox-label .form-radiobox .label-text {
  line-height: 1.4 !important;
  padding-left: 28px !important;
}

.form-checkbox[type=checkbox]:required + .form-checkbox, .form-checkbox[type=checkbox]:required + .form-radiomark,
.form-radiobox[type=radio]:required + .form-checkbox,
.form-radiobox[type=radio]:required + .form-radiomark {
  background-color: #fff;
  border: 2px solid #f03c87;
}
.form-checkbox[type=checkbox]:required:valid + .form-radiomark, .form-checkbox[type=checkbox]:required:valid + .form-checkmark,
.form-radiobox[type=radio]:required:valid + .form-radiomark,
.form-radiobox[type=radio]:required:valid + .form-checkmark {
  border-color: var(--grayColor);
  box-shadow: none;
}
.form-checkbox[type=checkbox]:required:valid:checked + .form-radiomark + .label-text, .form-checkbox[type=checkbox]:required:valid:checked + .form-checkmark + .label-text,
.form-radiobox[type=radio]:required:valid:checked + .form-radiomark + .label-text,
.form-radiobox[type=radio]:required:valid:checked + .form-checkmark + .label-text {
  color: var(--baseColor);
}
.form-checkbox[type=checkbox]:required:invalid,
.form-radiobox[type=radio]:required:invalid {
  background-color: #fff;
  border-color: var(--baseColor);
  box-shadow: none;
}
.form-checkbox[type=checkbox]:required:invalid + .form-radiomark + .label-text, .form-checkbox[type=checkbox]:required:invalid + .form-checkmark + .label-text,
.form-radiobox[type=radio]:required:invalid + .form-radiomark + .label-text,
.form-radiobox[type=radio]:required:invalid + .form-checkmark + .label-text {
  color: var(--textColor) !important;
}

.form-checkmark,
.form-radiomark {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: var(--borderColor);
  border: none;
  border-radius: 6px;
}

.form-checkmark::before, .form-checkmark::after {
  display: flex;
  position: absolute;
  content: "";
  top: 9px;
  left: 7px;
  width: 9px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg);
  border-radius: 4px;
  opacity: 0;
}
.form-checkmark::before {
  top: 10px;
  left: 5px;
  width: 5px;
  transform: rotate(45deg);
}

.form-checkbox:checked + .form-checkmark {
  border-color: #712BA6;
}
.form-checkbox:checked + .form-checkmark::before, .form-checkbox:checked + .form-checkmark::after {
  opacity: 1;
}

.form-radiomark {
  transition: all 0.15s;
  border-radius: 50%;
}

.form-checkbox-label:hover .form-checkbox ~ .checkmark,
.form-radiobox-label:hover .form-radiobox ~ .radiomark {
  background-color: var(--itemBorder);
}

.form-checkbox[type=checkbox]:checked + .form-checkmark {
  background-color: var(--c2);
}

.form-radiobox[type=radio]:checked + .form-radiomark {
  background-color: var(--c2);
  border: none;
}

.form-radiobox[type=radio]:checked + .form-radiomark::before {
  opacity: 1;
}

.form-radiobox-label .form-radiomark::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 8px;
  width: 8px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transition: all 0.15s;
  border-radius: 50%;
  opacity: 0.6;
}
.form-radiobox-label:hover .form-radiomark::before {
  opacity: 1;
}

.form-checkbox[type=checkbox]:checked + .form-checkmark + .label-text,
.form-radiobox[type=radio]:checked + .form-radiomark + .label-text {
  color: var(--baseColor);
  font-weight: 600;
}

.form-checkbox-label:not(.disabled).\:focus .form-checkbox ~ .checkmark,
.form-checkbox-label:not(.disabled):focus .form-checkbox ~ .checkmark {
  opacity: 1;
  z-index: 10;
  outline: 2px dotted var(--baseColor);
  outline-offset: 2px;
}

.required .form_label {
  display: table !important;
  position: relative;
  padding-right: 20px;
}

.required .form_label::after {
  position: absolute;
  content: "*";
  top: 3px;
  color: red;
  font-size: 14px;
  padding-left: 4px;
}

.form_input,
.form_select,
.form_textarea {
  position: relative;
  color: var(--baseColor);
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Relaway";
  font-weight: 500;
  line-height: 40px;
  height: 40px;
  width: 100%;
  padding: 0 12px;
  background: var(--backgroundColor);
  transition: border-color 0.1s cubic-bezier(0.7, 0, 0.3, 1);
  border: none;
  border-width: 1px;
  border-style: solid;
  border-color: #ded4cf;
  border-radius: 10px;
  z-index: 0;
}
.form_input:hover,
.form_select:hover,
.form_textarea:hover {
  border-color: #7f8da5;
}
.form_input:focus,
.form_select:focus,
.form_textarea:focus {
  border-color: var(--c3);
  box-shadow: 0 0 0 3px rgba(176, 90, 54, 0.1254901961);
}
.form_input::-moz-placeholder, .form_select::-moz-placeholder, .form_textarea::-moz-placeholder {
  color: #acb4c1;
  font-size: 13px;
  font-weight: 400;
}
.form_input::placeholder,
.form_select::placeholder,
.form_textarea::placeholder {
  color: #acb4c1;
  font-size: 13px;
  font-weight: 400;
}
.form_input:disabled,
.form_select:disabled,
.form_textarea:disabled {
  background-color: var(--checkradioBg);
  border-color: var(--grayColor);
}
.form_input[type=number],
.form_select[type=number],
.form_textarea[type=number] {
  -moz-appearance: textfield;
}
.form_input::-webkit-outer-spin-button, .form_input::-webkit-inner-spin-button,
.form_select::-webkit-outer-spin-button,
.form_select::-webkit-inner-spin-button,
.form_textarea::-webkit-outer-spin-button,
.form_textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_icon {
  position: relative;
}
.input_icon .form_item,
.input_icon .form_select {
  padding-left: 42px;
}
.input_icon span {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  z-index: 2;
}

.icon-phone {
  background: url("../images/icon-phone.svg") no-repeat center center;
}

.icon-user {
  background: url("../images/profile/icon-user.svg") no-repeat center center;
}

.icon-phone {
  background: url("../images/icon-phone.svg") no-repeat center center;
}

.icon-password {
  background: url("../images/icon-password.svg") no-repeat center center;
}

.icon-help {
  background: url("../images/profile/icon-help.svg") no-repeat center center;
}

.icon-password {
  background: url("../images/profile/icon-password.svg") no-repeat center center;
}

.icon-address {
  background: url("../images/profile/icon-address.svg") no-repeat center center;
}

.icon-parcel {
  background: url("../images/profile/icon-parcel.svg") no-repeat center center;
}

.icon-favourite {
  background: url("../images/profile/icon-favourite.svg") no-repeat center center;
}

.icon-order {
  background: url("../images/profile/icon-order.svg") no-repeat center center;
}

.icon-logout {
  background: url("../images/profile/icon-logout.svg") no-repeat center center;
}

.col2to1 {
  grid-column: 1/3;
}

select, .form_select {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 30px;
  background-image: url("../images/drop-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 10px 10px;
  outline: 0;
}

.form_textarea {
  height: auto;
  min-height: 6rem;
  max-height: 12rem;
  resize: vertical;
}

textarea::-moz-placeholder {
  color: #acb4c1;
}

textarea::placeholder {
  color: #acb4c1;
}

.form_item_s {
  height: 38px;
  padding: 0 10px;
}

.form_item_m {
  height: 40px;
  padding: 0 12px;
}

.form_item_l {
  height: 48px;
  padding: 0 14px;
}

.form_item::-moz-placeholder {
  color: #acb4c1;
  font-size: 14px;
}

.form_item::placeholder {
  color: #acb4c1;
  font-size: 14px;
}

.form_item_rest:hover {
  border-color: #7f8da5;
}

.form_item_rest:focus {
  border-color: var(--baseColor);
  box-shadow: 0 0 0 1px var(--baseColor) inset;
}

.__in_error {
  border-color: #d0021b;
}

.notice {
  padding: 10px 14px;
  margin: 16px 0;
  background-color: var(--grayColor);
  border-radius: 8px;
}
.notice.green {
  color: #0f5f55;
  background-color: #bef8ed;
}

.register_grid {
  grid-template-columns: 48px 48px 1fr;
}

.register_item {
  position: relative;
}
.register_item .reg_text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  font-weight: 500;
  background-color: var(--inputBg);
  border-radius: 8px;
  cursor: pointer;
}

.register_words {
  display: none;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  z-index: 9;
}
.register_words.show {
  display: block;
}
.register_words .reg_words_grid {
  background-color: #fff;
  padding: 15px;
  gap: 3px;
  grid-template-columns: repeat(6, 1fr);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}
.register_words .reg_words_grid div {
  color: #aaa;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  background-color: var(--switchBg);
  transition: all 0.1s;
  border-radius: 8px;
  cursor: pointer;
}
.register_words .reg_words_grid div.active, .register_words .reg_words_grid div:hover {
  color: var(--baseColorHover);
  background-color: #4de0f5;
}

.ck-editor__editable {
  min-height: 240px;
}

.hidden_input, .hidden {
  height: 0 !important;
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  padding-block: 0 !important;
  padding-inline: 0 !important;
  border: none !important;
  opacity: 0;
}

.form_item {
  display: grid;
  margin-bottom: 16px;
}

.form_item_line {
  display: grid;
  margin: 24px 0;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 16, 34, 0.1);
}

.form_label {
  display: flex;
  color: #495460;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  min-height: 18px;
  margin-bottom: 6px;
}

.label ~ .label {
  margin-top: 10px;
}
.label .sbemt_count {
  color: #b1b7bf;
}

.label, .label-text {
  color: var(--textColor);
  font-size: 13px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0 !important;
  width: 100%;
  overflow: hidden;
}
.label a, .label-text a {
  font-size: 13px;
  text-decoration: underline;
  margin-left: 10px;
}

.dtb {
  display: table;
}

.text_desc {
  margin-top: 8px;
}
.text_desc p {
  color: var(--primaryColor);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #495460;
}
.text_desc p ~ p {
  margin-top: 8px;
}
.text_desc .__error {
  color: #d0021b;
  font-weight: 500;
}

.input_col {
  display: grid;
  grid-template-columns: 1fr 48px;
  gap: 10px;
}
.input_col ~ .input_col {
  margin-top: 10px;
}

.add_rem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  background-color: var(--lightGrayColor);
  border-radius: 8px;
  cursor: pointer;
}
.add_rem .add {
  position: relative;
  height: 2px;
  width: 18px;
  background-color: #7f8da5;
}
.add_rem .add::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  height: 18px;
  width: 2px;
  background-color: #7f8da5;
  transform: translate(-50%, -50%);
}
.add_rem .remove {
  height: 2px;
  width: 18px;
  background-color: #7f8da5;
}

/* Button Style */
.em_button {
  position: relative;
  color: var(--baseColor);
  font-size: 13px !important;
  font-family: "Relaway";
  font-weight: 500;
  line-height: 22px;
  display: table;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 11px 28px;
  background-color: transparent;
  transition: background-color 0.2s cubic-bezier(0.7, 0, 0.3, 1);
  border: none;
  border-radius: 30px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 2;
}

.__btn_l {
  height: 48px;
  border-radius: 8px;
}

.__btn_m {
  height: 40px;
  border-radius: 6px;
}

.__btn_s {
  height: 38px;
  border-radius: 6px;
}

.__btn_htrans {
  transition: background-color 0.2s cubic-bezier(0.7, 0, 0.3, 1);
}

.__default {
  color: var(--baseColor);
  background-color: var(--lgrayColor);
  border: none;
}
.__default:hover {
  background-color: var(--grayColor) !important;
}
.__default .__deactivated {
  opacity: 0.6;
}

.btn_primary {
  color: #fff;
  background-color: var(--c3);
}
.btn_primary:hover {
  color: #fff;
  background-color: var(--c2);
}

.green_btn {
  color: #fff;
  background-color: var(--greenColor);
}
.green_btn:hover {
  color: #fff;
  background-color: var(--greenHoverColor);
}

.btn_second {
  color: #fff;
  background-color: #3c3d42;
}
.btn_second:hover {
  background-color: #47484e;
}

.btn_clear {
  font-size: 12px;
  font-weight: 500;
  height: 22px;
  padding: 0 8px;
  background-color: var(--grayColor);
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
.btn_clear:hover {
  background-color: var(--grayColorHover);
}

.read_more {
  margin-left: auto;
  margin-right: auto;
}

/* Button Style End */
/* Log form style */
.log_form {
  padding: 40px;
  margin: 40px auto;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid var(--borderColor);
  border-radius: 20px;
}

/* Other */
.form_toast {
  color: #fff;
  position: fixed;
  top: 14px;
  right: 14px;
  transform: translateX(200%);
  transition: all 0.3s;
  z-index: 219;
}
.form_toast.show {
  transform: translateX(0);
  opacity: 1;
}
.form_toast .toast_content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}
.form_toast .toast-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-radius: 50%;
}
.form_toast .toast-icon span {
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: 100% !important;
}
.form_toast .toast_content {
  display: grid;
  grid-template-columns: 48px 1fr 20px;
  gap: 10px;
  padding: 16px;
  width: 340px;
}
.form_toast .toast_content .toast_desc h3 {
  font-size: 14px;
}
.form_toast .toast_content .toast_desc p {
  color: var(--grayColor);
}
.form_toast .toast_content .toast_close {
  position: absolute;
  content: "";
  top: 50%;
  right: 20px;
  display: flex;
  height: 12px;
  width: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}
.form_toast .toast_content .toast_close span {
  height: 100%;
  width: 100%;
  background: url("../images/icon-close.svg") no-repeat center center;
  background-size: 100%;
}
.form_toast.success .toast-icon {
  background-color: rgba(58, 196, 127, 0.1882352941);
}
.form_toast.success .toast-icon span {
  background: url("../images/icon-success.svg") no-repeat center center;
}
.form_toast.danger .toast-icon {
  background-color: rgba(236, 0, 71, 0.1882352941);
}
.form_toast.danger .toast-icon span {
  background: url("../images/icon-danger.svg") no-repeat center center;
}
.form_toast.info .toast-icon {
  background-color: rgba(59, 101, 226, 0.1882352941);
}
.form_toast.info .toast-icon span {
  background: url("../images/icon-info.svg") no-repeat center center;
}

.toast {
  width: 350px;
  max-width: 100%;
  font-size: 0.875rem;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.checkbox-label {
  color: var(--textColor);
  display: flex;
  align-items: center;
  min-height: 22px;
  position: relative;
  padding-left: 30px;
  flex-grow: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.checkbox-label .checkbox,
.checkbox-label .radiobox {
  opacity: 0;
  position: absolute;
}

.checkmark, .radiomark {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid var(--borderColor);
  transform: translateY(-50%);
  border-radius: 2px;
}

.radiomark {
  border-radius: 50%;
}

.checkbox-label:hover .checkbox ~ .checkmark,
.checkbox-label:hover .radiobox ~ .radiomark {
  border-color: var(--secondColor);
}

.checkbox[type=checkbox]:checked + .checkmark {
  background-color: var(--secondColor);
  border-color: var(--secondColor);
}

.radiobox[type=radio]:checked + .radiomark {
  background-color: var(--primaryColor);
  border-color: var(--baseColor);
}

.checkbox[type=checkbox]:checked + .checkmark::before,
.checkbox[type=checkbox]:checked + .checkmark::after {
  display: flex;
  position: absolute;
  content: "";
  top: 7px;
  left: 5px;
  width: 9px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg);
  border-radius: 2px;
}

.checkbox[type=checkbox]:checked + .checkmark::before {
  top: 8px;
  left: 3px;
  width: 5px;
  transform: rotate(45deg);
}

.radiobox[type=radio]:checked + .radiomark::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.checkbox[type=checkbox]:checked + .checkmark + .label-text,
.radiobox[type=radio]:checked + .radiomark + .label-text {
  color: var(--baseColor);
  font-weight: 500;
}

.checkbox-label:not(.disabled).\:focus .checkbox ~ .checkmark,
.checkbox-label:not(.disabled):focus .checkbox ~ .checkmark {
  opacity: 1;
  z-index: 10;
  outline: 2px dotted var(--baseColor);
  outline-offset: 2px;
}

.__txtu {
  text-transform: uppercase;
}

ol {
  list-style: circle;
}

span[class^=icon-] {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: 100% !important;
}
span[class^=icon-].search {
  background: url("../images/icon-search.png") no-repeat center center;
}

.tab_wrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-wrap: wrap;
}
.tab_wrap .tab_item {
  color: var(--grayText);
  display: flex;
  height: 40px;
  padding: 10px 16px;
  border-radius: 6px;
}
.tab_wrap .tab_item.active {
  color: #fff;
  font-weight: 500;
  background-color: var(--secondColor);
}

.tab-content .tab-pane {
  display: none;
}
.tab-content .tab-pane.active, .tab-content .tab-pane.show {
  display: block;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.nav-link ~ .nav-link {
  margin-left: 6px;
}

.order_number {
  color: var(--secondColor);
}

.table_wrap {
  position: relative;
  border: 1px solid var(--borderGrayColor);
  overflow-x: auto;
}
.table_wrap::-webkit-scrollbar {
  height: 4px;
  background-color: var(--lgrayColor);
  border-radius: 4px;
}
.table_wrap::-webkit-scrollbar-thumb {
  background-color: var(--borderGrayColor);
  border-radius: 4px;
}
.table_wrap::-webkit-scrollbar-thumb:hover {
  background-color: var(--saleColor);
}

.d_main_desc_list .n_table, .d_main_desc_list table {
  margin-bottom: 20px;
}

.d_main_desc_list .n_table, .n_table, .d_main_desc_list table {
  caption-side: bottom;
  border-collapse: collapse;
  border-spacing: 0 2px;
  width: 100%;
}
.d_main_desc_list .n_table colgroup col, .n_table colgroup col, .d_main_desc_list table colgroup col {
  width: auto !important;
}
.d_main_desc_list .n_table th, .d_main_desc_list .n_table td, .n_table th, .n_table td, .d_main_desc_list table th, .d_main_desc_list table td {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  line-height: 1.2;
  padding: 8px;
  border-left: 1px solid var(--borderGrayColor);
}
.d_main_desc_list .n_table th:first-child, .d_main_desc_list .n_table td:first-child, .n_table th:first-child, .n_table td:first-child, .d_main_desc_list table th:first-child, .d_main_desc_list table td:first-child {
  border-left: none !important;
}
.d_main_desc_list .n_table td, .n_table td, .d_main_desc_list table td {
  border-top: 1px solid var(--borderGrayColor);
}
.d_main_desc_list .n_table thead, .n_table thead, .d_main_desc_list table thead {
  background-color: var(--itemBorder);
}
.d_main_desc_list .n_table thead tr ~ tr th, .n_table thead tr ~ tr th, .d_main_desc_list table thead tr ~ tr th {
  border-top: 1px solid var(--borderGrayColor);
}
.d_main_desc_list .n_table thead th, .n_table thead th, .d_main_desc_list table thead th {
  color: var(--grayText) !important;
  border-left: 1px solid var(--borderGrayColor);
  vertical-align: bottom;
}
.d_main_desc_list .n_table tbody tr:last-child, .n_table tbody tr:last-child, .d_main_desc_list table tbody tr:last-child {
  border-bottom-left-radius: 6px;
}
.d_main_desc_list .n_table tbody tr:last-child td:first-child, .n_table tbody tr:last-child td:first-child, .d_main_desc_list table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
.d_main_desc_list .n_table tbody tr:last-child td:last-child, .n_table tbody tr:last-child td:last-child, .d_main_desc_list table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
.d_main_desc_list .n_table tbody td, .n_table tbody td, .d_main_desc_list table tbody td {
  font-weight: 400;
}
.d_main_desc_list .n_table tbody td strong, .d_main_desc_list .n_table tbody td b, .n_table tbody td strong, .n_table tbody td b, .d_main_desc_list table tbody td strong, .d_main_desc_list table tbody td b {
  color: var(--secondColor);
  font-weight: 600;
}
.d_main_desc_list .n_table tbody td b, .n_table tbody td b, .d_main_desc_list table tbody td b {
  color: var(--textColor);
}
.d_main_desc_list .n_table tbody td b a, .n_table tbody td b a, .d_main_desc_list table tbody td b a {
  text-decoration: underline;
}
.d_main_desc_list .n_table tbody td b a:hover, .n_table tbody td b a:hover, .d_main_desc_list table tbody td b a:hover {
  color: var(--blueColor);
}
.d_main_desc_list .n_table .type_i, .n_table .type_i, .d_main_desc_list table .type_i {
  margin: 0;
}
.d_main_desc_list .n_table .table_link, .n_table .table_link, .d_main_desc_list table .table_link {
  color: var(--blueColor);
  font-size: 12px;
  font-weight: 500;
  display: inline-flex;
  max-width: 200px;
  margin-top: 5px;
  padding: 4px 8px;
  background-color: var(--itemBorder);
  text-overflow: ellipsis;
  border: 1px solid var(--borderColor);
  border-radius: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.d_main_desc_list .n_table .table_link span, .n_table .table_link span, .d_main_desc_list table .table_link span {
  display: inline-flex;
  height: 14px;
  width: 14px;
  margin-right: 4px;
  background: url("../images/link.png") no-repeat center center;
  background-size: 100%;
}
.d_main_desc_list .n_table .table_more, .n_table .table_more, .d_main_desc_list table .table_more {
  display: table;
}
.d_main_desc_list .n_table .table_more:hover > div span, .n_table .table_more:hover > div span, .d_main_desc_list table .table_more:hover > div span {
  margin-left: 6px;
}
.d_main_desc_list .n_table .table_more > div, .n_table .table_more > div, .d_main_desc_list table .table_more > div {
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 2px 3px 2px 8px;
  background-color: var(--secondColor);
  border-radius: 12px;
}
.d_main_desc_list .n_table .table_more span, .n_table .table_more span, .d_main_desc_list table .table_more span {
  display: flex;
  height: 18px;
  width: 18px;
  margin-left: 2px;
  background-color: #fff;
  -webkit-mask-image: url("../images/icon-slide-next.svg");
  background-size: 100%;
  transition: all 0.15s;
}

.status {
  display: table;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  padding: 3px 7px;
  border-radius: 14px;
  border: 1px solid transparent;
  white-space: nowrap;
}

.status_success {
  color: var(--greenColor);
  background-color: rgba(36, 161, 110, 0.1450980392);
  border-color: rgba(36, 161, 110, 0.1882352941);
}

.status_primary {
  color: var(--blueColor);
  background-color: rgba(0, 120, 249, 0.1450980392);
  border-color: rgba(0, 120, 249, 0.1450980392);
}

.status_waiting {
  color: var(--primaryColor);
  background-color: rgba(255, 181, 3, 0.1450980392);
  border-color: rgba(255, 181, 3, 0.1450980392);
}

.status_danger {
  color: #e32323;
  background-color: rgba(227, 35, 35, 0.1450980392);
  border-color: rgba(227, 35, 35, 0.1450980392);
}

.table_action a ~ a {
  margin-left: 10px;
}
.table_action a:hover span svg [fill]:not(.permanent):not(g) {
  fill: var(--primaryColor);
}
.table_action span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--lgrayColor);
  border-radius: 6px;
}
.table_action span svg {
  height: 14px;
  width: 14px;
}
.table_action span svg [fill]:not(.permanent):not(g) {
  fill: #b1b7bf;
}

.modal {
  z-index: 1072;
}

.em_modal {
  position: relative;
  pointer-events: all;
  background-color: #fff;
  border-radius: 20px;
}
.em_modal .modal_header {
  padding: 20px 30px;
  border-bottom: 1px solid var(--lgrayColor);
}
.em_modal .modal_main {
  padding: 20px 30px;
}
.em_modal .modal_main h2 {
  font-size: 20px;
  padding: 16px;
  border-bottom: 1px solid var(--itemBorder);
}
.em_modal .modal_main .box_title {
  text-align: center;
}
.em_modal .modal_main .box_title h3 {
  font-size: 30px;
}
.em_modal .modal_footer {
  padding: 10px 30px 30px;
}

.n_pagination {
  display: table;
  margin: 20px auto 0;
}
.n_pagination ul {
  display: flex;
  align-items: center;
}
.n_pagination ul li ~ li {
  margin-left: 5px;
}
.n_pagination ul li span, .n_pagination ul li a, .n_pagination ul li p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 1;
  min-width: 30px;
  padding: 8px 10px;
  transition: all 0.15s;
  border-radius: 20px;
}
.n_pagination ul li span {
  color: var(--saleColor);
}
.n_pagination ul li .active {
  color: #fff;
  background-color: var(--secondColor);
}
.n_pagination ul li a:hover {
  background-color: var(--itemBorder);
}

/* Other End */
/* Header Style */
nav {
  position: sticky;
  top: 16px;
  transition-property: top;
  transition: all 0.4s;
  z-index: 199;
}
nav .nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  padding-right: 18px;
  margin: 0 auto;
  max-width: 1212px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  transition: all 0.4s;
}
nav .header_content {
  display: flex;
  align-items: center;
  grid-column-gap: 80px;
}
nav ul {
  display: flex;
  align-items: center;
  grid-column-gap: 30px;
  margin: 0 auto;
}
nav ul li a {
  color: var(--lgrayText);
  font-size: 15px;
  font-weight: 500;
}
nav ul li a:hover {
  color: var(--baseColor);
}

.is-scrolled nav {
  top: 0;
  background-color: #fff;
}
.is-scrolled nav .nav_content {
  padding: 12px;
  margin: 0 auto;
  max-width: 1204px;
  border-radius: 0;
}

.logo_container {
  display: flex;
  align-items: center;
}

.em_logo {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  grid-column-gap: 12px;
  line-height: 1;
}
.em_logo span {
  display: flex;
  flex: 0 0 48px;
  height: 48px;
  width: 48px;
  background: transparent url("../images/em_logo.png") no-repeat left center;
  background-size: contain;
  transition: all 0.2s;
}
.em_logo .slogan {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  color: var(--c2);
  font-size: 30px;
  font-weight: 600;
  font-family: "Relaway";
  text-transform: uppercase;
}
.em_logo .slogan strong {
  color: var(--c3);
  line-height: 1;
}

/* Header Style End */
/* Body Style */
.visible {
  overflow: hidden;
}

.overflow_element {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 88;
}

.body_wrap {
  background-color: var(--backgroundColor);
}

.header_slider {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  margin-top: -82px;
  background-image: url("../images/slider_bg.svg");
  background-repeat: repeat;
  background-size: contain;
}
.header_slider .slider_content {
  position: absolute;
  left: 50%;
  bottom: 14vh;
  color: #fff;
  width: 1180px;
  align-items: flex-end;
  grid-template-columns: 1fr 40%;
  transform: translateX(-50%);
}
.header_slider .slider_content h1 {
  font-size: 56px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.header_slider .slider_content p {
  font-size: 17px;
  opacity: 0.8;
}
.header_slider .sc_r {
  display: flex;
  align-items: center;
  grid-column-gap: 80px;
}
.header_slider .sc_r .sc_item {
  position: relative;
}
.header_slider .sc_r .sc_item ~ .sc_item::before {
  position: absolute;
  content: "";
  top: 0;
  left: -40px;
  bottom: 0;
  height: 100%;
  border-left: 1px solid #fff;
}
.header_slider .sc_r .sc_item h2 {
  font-size: 30px;
  font-weight: 500;
}

.table_content {
  width: 100%;
  letter-spacing: 0;
  border-spacing: 0;
  border-collapse: separate !important;
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  overflow: hidden;
}
.table_content .required_text {
  display: block;
  white-space: break-spaces;
}
.table_content button {
  border-radius: 2px;
}
.table_content .__btn {
  color: #fff !important;
  height: 28px !important;
}
.table_content thead {
  background-color: var(--backgroundColor);
}
.table_content thead tr th {
  font-size: 13px;
  font-weight: bold;
  vertical-align: top;
  box-sizing: border-box;
}
.table_content thead tr th:last-child {
  border: non;
}
.table_content thead input, .table_content thead select {
  width: 100%;
  background-color: #fff;
  border-color: var(--borderColor);
}
.table_content thead .nas {
  width: 70px;
}
.table_content thead tr, .table_content tbody tr {
  padding: 0;
}
.table_content thead tr th, .table_content thead tr td, .table_content tbody tr th, .table_content tbody tr td {
  position: relative;
  text-align: left;
  min-width: 20px;
  padding: 8px 10px;
  border-left: 1px solid var(--borderColor);
}
.table_content thead tr th:first-child, .table_content thead tr td:first-child, .table_content tbody tr th:first-child, .table_content tbody tr td:first-child {
  border-left: none;
}
.table_content tbody tr:first-child td {
  border-color: var(--borderColor);
}
.table_content tbody tr:hover {
  background-color: #f6f8f9;
}
.table_content tbody tr td {
  display: table-cell;
  max-width: 300px;
  border-top: 1px solid #e7eaef;
  vertical-align: top;
}
.table_content tbody tr td a {
  color: var(--baseColor);
}
.table_content .__btn {
  width: -moz-max-content;
  width: max-content;
}

section {
  padding-top: 60px;
}

.section_container {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}

.img_block {
  position: relative;
  height: 100%;
}
.img_block img {
  height: 100%;
  width: 100%;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  display: block;
  padding-top: 50px;
}

.section_line {
  padding: 80px 0;
}

.svg_board {
  height: 250px;
  width: 340px;
  margin: 0 auto;
}

.swiper-button {
  height: 40px;
  width: 40px;
}

.swiper-pagination {
  bottom: 20px !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--redPrimaryColor) !important;
}

.top_tit {
  display: table;
  margin-bottom: 10px;
}

.title {
  display: block;
  position: relative;
  font-size: 40px;
  font-weight: 400;
  font-family: "ChBodoni";
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  padding-bottom: 50px;
  margin: 0 auto;
}
.title strong {
  color: var(--c3);
  font-weight: 400;
}

.sub_title {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
}

.sl_other .sub_title {
  margin-top: -30px;
  margin-bottom: 60px;
}

.stat_wrap {
  background-color: var(--backgroundColor);
  background-image: url("../images/bg_gray_repeat.svg");
  background-repeat: repeat;
  background-size: 2.5%;
}
.stat_wrap h2 {
  font-size: 20px;
}
.stat_wrap p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}

.stat_item {
  display: flex;
  align-items: flex-end;
}
.stat_item h1 {
  font-size: 84px;
  font-weight: 300;
  line-height: 0.8;
}
.stat_item i {
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1;
}

.gdp_line {
  display: flex;
  align-items: center;
  position: relative;
  height: 250px;
}
.gdp_line .svg_board {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.marquee-wrapper {
  width: 100%;
}

.marquee-row {
  overflow: hidden;
  width: 100%;
  padding: 14px 0;
}

.marquee-track {
  display: inline-flex;
  gap: 32px;
  white-space: nowrap;
  will-change: transform;
}

.marquee-track span {
  font-size: 16px;
  font-weight: 400;
}

.marquee-controls {
  position: absolute;
  left: 0;
  bottom: 20px;
}

#marquee-toggle {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.goal_grid {
  grid-column-gap: 2.5rem;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1px 1fr 1px 1fr;
  grid-auto-columns: 1fr;
}

tspan {
  font-family: "Relaway" !important;
}

.gl_col {
  padding-bottom: 30px;
}
.gl_col .gl_cat_head h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: "ChBodoni";
  line-height: 1;
  margin-bottom: 10px;
}
.gl_col .gl_cat_head span {
  color: var(--c3);
  font-size: 15px;
  display: flex;
  margin-bottom: 30px;
}
.gl_col .gl_cat_main ul li {
  font-size: 15px;
  opacity: 0.8;
}
.gl_col .gl_cat_main ul li ~ li {
  margin-top: 10px;
}
.gl_col.hbtm {
  padding-top: 40px;
}

.gl_line {
  width: 1px;
  background-color: var(--borderColor);
}
.gl_line.horiz {
  height: 1px;
  width: 100%;
  grid-area: span 1/span 5/span 1/span 5;
}

.feedback_result .fr_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 20px 24px;
  background-color: var(--backgroundColor);
  border-radius: 12px;
}
.feedback_result .fr_item p {
  color: var(--textColor);
}
.feedback_result .fr_item h1 {
  font-size: 40px;
  font-weight: 400;
}

.feedback_form {
  max-width: 680px;
  margin: 0 auto;
}
.feedback_form button {
  width: 100%;
  border-radius: 8px;
}

.slide_wrap {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  background-color: var(--backgroundColor);
}
.slide_wrap .slide_item {
  opacity: 0.3;
}
.slide_wrap .swiper-slide-visible {
  opacity: 1;
}
.slide_wrap .img_block {
  height: 100%;
}

#content {
  height: 300px;
}

.news_item {
  display: block;
}
.news_item ~ .news_item {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid var(--borderColor);
}
.news_item:hover h3 {
  color: var(--c2);
}
.news_item h3 {
  font-family: "ChBodoni";
  font-size: 20px;
}

.news_content {
  font-size: 16px;
  text-align: justify;
  max-width: 880px;
  margin: 0 auto;
}
.news_content em {
  display: block;
  color: var(--c3);
  font-size: 15px;
  font-style: normal;
  margin-bottom: 10px;
}

.menu_wrap ul {
  display: flex;
}
.menu_wrap li {
  position: relative;
}
.menu_wrap li:hover > a::before {
  height: 3px;
}
.menu_wrap li a {
  display: flex;
  color: var(--textColor);
  position: relative;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 39px 14px;
  transition: all 0.15s;
}
.menu_wrap li a::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: var(--redPrimaryColor);
  transition: all 0.15s;
  z-index: 1;
}
.menu_wrap li a.active, .menu_wrap li a.active:hover {
  color: #fff;
  background-color: var(--redPrimaryColor);
}
.menu_wrap li a.active::before, .menu_wrap li a.active:hover::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--brandOrange);
}
.menu_wrap li.is_sub > a {
  padding-right: 26px;
}
.menu_wrap li.is_sub > a::after {
  position: absolute;
  content: "";
  top: 50%;
  left: auto;
  right: 12px;
  height: 7px;
  width: 7px;
  background-image: url("../images/menu_arrow.svg");
  background-size: 100%;
  transform: translateY(-50%);
  transition: all 0.15s;
}
.menu_wrap li.is_sub .sub_menu, .menu_wrap li.is_sub .sub_sub_menu {
  position: absolute;
  top: 100%;
  left: -10000px;
  width: 280px;
  transition: opacity 0.3s ease-in-out, top 0.35s ease-in-out, transform 0.2s ease-in;
  transform: translateY(10px);
  opacity: 0;
  z-index: 99;
}
.menu_wrap li.is_sub .sub_menu ul, .menu_wrap li.is_sub .sub_sub_menu ul {
  background-color: #fff;
  flex-direction: column;
  box-shadow: 0 15px 25px -5px rgba(10, 10, 10, 0.2);
}
.menu_wrap li.is_sub .sub_menu li::after, .menu_wrap li.is_sub .sub_sub_menu li::after {
  display: none;
}
.menu_wrap li.is_sub .sub_menu li ~ li, .menu_wrap li.is_sub .sub_sub_menu li ~ li {
  border: none !important;
}
.menu_wrap li.is_sub .sub_menu li a, .menu_wrap li.is_sub .sub_sub_menu li a {
  color: var(--textColor);
  font-weight: 500 !important;
  line-height: 1.2;
  text-transform: none;
  padding: 10px 14px;
  border: none;
}
.menu_wrap li.is_sub .sub_menu li a::before, .menu_wrap li.is_sub .sub_sub_menu li a::before {
  display: none;
}
.menu_wrap li.is_sub .sub_menu li a.active, .menu_wrap li.is_sub .sub_sub_menu li a.active {
  color: var(--primaryColor);
  background-color: transparent;
}
.menu_wrap li.is_sub .sub_menu li a.active::before, .menu_wrap li.is_sub .sub_sub_menu li a.active::before {
  top: 0;
  left: 0;
  right: auto;
  height: 100%;
  width: 2px;
  background-color: var(--secondColor);
}
.menu_wrap li.is_sub .sub_menu li:hover > a, .menu_wrap li.is_sub .sub_sub_menu li:hover > a {
  color: var(--primaryColor);
  background-color: var(--backgroundColor);
}
.menu_wrap li.is_sub .sub_menu li ~ li, .menu_wrap li.is_sub .sub_sub_menu li ~ li {
  margin: 0;
}
.menu_wrap li.is_sub .sub_menu li.is_sub_sub > a, .menu_wrap li.is_sub .sub_sub_menu li.is_sub_sub > a {
  position: relative;
  padding-right: 20px;
}
.menu_wrap li.is_sub .sub_menu li.is_sub_sub > a::after, .menu_wrap li.is_sub .sub_sub_menu li.is_sub_sub > a::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 5px;
  height: 8px;
  width: 8px;
  margin-top: -5px;
  background: url("../images/drop-arrow.svg") no-repeat center center;
  background-size: 100%;
  transform: rotate(-90deg) translateY(-50%);
}
.menu_wrap li.is_sub .sub_menu li.is_sub_sub:hover .sub_sub_menu, .menu_wrap li.is_sub .sub_sub_menu li.is_sub_sub:hover .sub_sub_menu {
  top: 0;
  left: 100%;
  margin: 0;
  transform: translate(0);
  opacity: 1;
}
.menu_wrap li.is_sub:hover:last-child .sub_menu, .menu_wrap li.is_sub:hover:last-child .sub_sub_menu, .menu_wrap li.is_sub:hover:nth-last-child(2) .sub_menu, .menu_wrap li.is_sub:hover:nth-last-child(2) .sub_sub_menu {
  left: auto;
  right: 0 !important;
}
.menu_wrap li.is_sub:hover > a::after {
  transform: scaleY(-1) translateY(50%);
}
.menu_wrap li.is_sub:hover .sub_menu {
  left: 0;
  margin: 0;
  transform: translate(0);
  opacity: 1;
}

.menu_slide {
  position: relative;
  width: 100%;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  z-index: 3;
}
.swiper-pagination .swiper-pagination-bullet {
  display: flex;
  height: 8px;
  width: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.swiper-pagination .swiper-pagination-bullet ~ .swiper-pagination-bullet {
  margin-left: 6px;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primaryColor);
}

.sbemt_slide_btn {
  position: absolute;
  content: "";
  top: 50%;
  left: 40px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transform: translateY(-50%);
  transition: all 0.15s;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.sbemt_slide_btn:hover {
  box-shadow: 0 0 0 4px var(--redPrimaryColor);
}
.sbemt_slide_btn::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-image: url("../images/icon-slide-prev.svg");
  background-repeat: no-repeat;
  background-position: center center !important;
  background-size: 100% !important;
}

.swiper-button-next {
  left: auto;
  right: 40px;
}
.swiper-button-next::before {
  background-image: url("../images/icon-slide-next.svg");
}

.n_breadcrumb {
  display: flex;
  width: 100%;
  padding: 20px 0 0;
}
.n_breadcrumb ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.n_breadcrumb ul li a {
  font-size: 13px;
  display: flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.n_breadcrumb ul li a:hover {
  color: var(--secondColor);
}
.n_breadcrumb ul li a::after {
  color: var(--baseColor);
  content: "/";
  margin: 0 8px;
  width: 8px;
}
.n_breadcrumb ul li p {
  color: var(--grayText);
  font-size: 13px;
}
.n_breadcrumb ul li p img {
  display: flex;
  height: 20px;
  width: 20px;
  padding: 2px;
  border: 1px solid #ced8e3;
  border-radius: 4px;
  overflow: hidden;
}

/* Modal Style */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
}
.modal .modal-dialog {
  position: relative;
  transform: none;
}
.modal .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 10px;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.face {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 480px;
    margin: 1.75rem auto;
  }
}
/* Modal Style End */
/* Footer Style */
.footer_wrap {
  padding: 30px 0 80px;
}
.footer_wrap p {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

/* Footer Style End */
/* Responsive Style */
@media (max-width: 1220px) {
  nav {
    top: 0;
  }
  nav .nav_content {
    border-radius: 0;
  }
  .header_slider .slider_content,
  .section_container {
    width: 100%;
    padding: 0 20px;
  }
  .header_slider .slider_content {
    grid-template-columns: 1fr;
    bottom: 40px;
  }
  .header_slider .slider_content h1 {
    max-width: 60%;
  }
  .container {
    padding: 0 16px;
    width: 100%;
  }
  .main_grid.gap4, .our_home_info, .gap2 {
    gap: 16px;
  }
}
@media (max-width: 1121px) {
  .menu_small {
    position: relative;
    display: flex;
    height: 44px;
    width: 44px;
    margin-right: 16px;
    cursor: pointer;
    overflow: hidden;
  }
  .menu_small.open span {
    left: 5px;
    width: 24px;
  }
  .menu_small.open span:first-child {
    transform: translateX(-60px);
    opacity: 0;
  }
  .menu_small.open span:nth-child(2) {
    transform: translate(6px, 8px) rotate(135deg);
  }
  .menu_small.open span:nth-child(3) {
    width: 24px;
    transform: translate(-9px, -7px) rotate(-135deg);
  }
  .menu_small span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 26px;
    height: 2px;
    opacity: 1;
    background-color: var(--textColor);
    transform: rotate(0deg) translate(-50%, 0);
    transition: 0.3s ease-in-out;
  }
  .menu_small span:nth-child(3) {
    width: 20px;
    transform: translateX(calc(-50% - 2px));
  }
  .menu_small span:nth-child(2) {
    top: 15px;
  }
  .menu_small span:last-child {
    left: 21px;
    top: 29px;
  }
  .mobile_wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background-color: #fff;
    transition: transform 0.3s cubic-bezier(0.7, 1, 0.3, 0.1);
    transform: translateY(-200%);
    z-index: 198;
  }
  .mobile_wrap.open {
    bottom: 0;
    transform: translateY(0);
  }
  .mobile_wrap .m_block > ul {
    align-items: flex-start;
    flex-direction: column;
    padding: 90px 16px 16px;
    height: 100vh;
    overflow-y: auto;
  }
  .mobile_wrap ul li {
    width: 100%;
    border-top: 1px solid #e5e5e9;
  }
  .mobile_wrap ul li:first-child {
    border-top: none;
  }
  .mobile_wrap ul li a {
    display: flex;
    align-items: center;
    font-size: 15px;
    height: 44px;
    padding: 0;
  }
  .mobile_wrap ul li a.active {
    color: var(--primaryColor);
    font-weight: 500;
  }
  .mobile_wrap .sub_menu, .mobile_wrap .sub_sub_menu {
    padding-left: 10px;
    border-top: 1px solid #e5e5e9;
  }
  .visible_page {
    overflow: hidden;
  }
  .visited {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    z-index: 7;
  }
}
@media (max-width: 991px) {
  html {
    background-color: var(--backgroundColor);
    overflow-x: hidden;
  }
  nav .nav_content {
    padding: 12px;
  }
  .header_slider {
    margin-top: -74px;
  }
  .header_slider .slider_content h1 {
    max-width: 100%;
  }
  .body_wrap {
    padding-top: 20px;
  }
  .main_wrap {
    margin: 0;
  }
  .main_wrap .slide_wrap {
    left: -20px;
    margin: 0 0 20px;
    width: 100vw;
    border-radius: 0;
  }
  .transparent_bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    transition: all 0.3s;
    z-index: 900;
    opacity: 0;
  }
  .g2, .g3, .main_grid {
    grid-template-columns: 1fr;
  }
  .page_list_grid, .g4, .g5 {
    grid-template-columns: 1fr 1fr !important;
  }
  .gap2, .gap1_6 {
    gap: 12px;
  }
  .visible_page {
    overflow: hidden;
  }
  .visible_page nav .nav_content {
    border-bottom-color: var(--borderColor);
  }
  .visible_page .transparent_bg {
    display: flex;
    opacity: 1;
  }
  .section_line {
    padding: 40px 0;
  }
  .transparent_bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    transition: all 0.3s;
    z-index: 901;
    opacity: 0;
  }
  .goal_grid {
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1px 1fr;
  }
  .gl_col:nth-child(5) {
    padding-top: 40px;
  }
  .gl_line.second, .gl_line.three {
    height: 1px;
    width: 100%;
    grid-area: span 3/span 3;
  }
  .gl_line.horiz {
    height: 100%;
    width: 1px;
    grid-area: span 2/span 1;
  }
  .feedback_result .gap3 {
    gap: 20px;
  }
}
@media (max-width: 840px) {
  .em_logo .slogan {
    display: none;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
  .sub_title {
    font-size: 15px;
  }
  .g2 {
    grid-template-columns: 1fr !important;
  }
  .g2.gap1_2 {
    gap: 0;
  }
  .col2to1 {
    grid-column: 1;
  }
  .gdp_line {
    flex-direction: column;
    height: auto;
  }
  .gdp_line .svg_board {
    position: relative;
    left: auto;
    top: auto;
    transform: translate(0);
  }
  .marquee-controls {
    position: relative;
    bottom: 10px;
  }
  .goal_grid {
    grid-column-gap: 20px;
    grid-template-columns: 1fr;
  }
  .gl_col .gl_cat_head h2 {
    font-size: 26px;
  }
  .gl_col.hbtm, .gl_col:nth-child(3), .gl_col:nth-child(5) {
    padding-top: 30px;
  }
  .gl_line {
    height: 1px;
    width: 100%;
  }
  .gl_line.second, .gl_line.three, .gl_line.horiz {
    grid-area: auto;
    height: 1px;
    width: 100%;
  }
  .mobile_wrap {
    top: 0;
  }
  .mobile_wrap .m_block > ul {
    height: 100vh;
  }
  .header_slider .slider_content h1 {
    font-size: 32px;
  }
  .header_slider .sc_r {
    grid-column-gap: 40px;
  }
  .header_slider .sc_r .sc_item h2 {
    line-height: 1;
    margin-bottom: 10px;
  }
  .header_slider .sc_r .sc_item ~ .sc_item::before {
    left: -20px;
  }
  .container, .section_container {
    width: 100vw;
    padding: 0 12px;
  }
  .feedback_result .gap3 {
    gap: 10px;
  }
}
@media (max-width: 521px) {
  .other_info .oi_item > div p {
    display: none;
  }
  .header_slider .sc_r .sc_item h2 {
    font-size: 24px;
  }
  .news_info {
    grid-template-columns: 1fr !important;
    gap: 20px;
  }
}
/* Responsive Style End *//*# sourceMappingURL=style.css.map */